<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ON-Q</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/js-yaml/dist/js-yaml.min.js"></script>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .md-chip {
            background: rgb(224,224,224);
            color: rgb(66,66,66);
        }
        md-toolbar.offline {
            background-color: #444;
        }
        md-input-container.md-icon-right {
            padding-right: 36px;
            padding-left: 2px;
        }
    </style>
</head>
<body ng-app="onq">
    <script type="text/ng-template" id="editSettingsDialogTemplate">
        <md-dialog style="width: 400px">
            <md-dialog-content class="md-dialog-content">
                <h2 class="md-title">
                    Settings
                </h2>
                <md-input-container class="md-block">
                    <label>Host</label>
                    <input type="text" ng-model="$storage.settings.host" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Input node</label>
                    <input type="text" ng-model="$storage.settings.nodeIn" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Output node</label>
                    <input type="text" ng-model="$storage.settings.nodeOut" />
                </md-input-container>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button ng-click="hide()">
                    Cancel
                </md-button>
                <md-button ng-click="answer($storage.settings)">
                    Ok
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="addMessageDialogTemplate">
        <md-dialog style="width: 400px">
            <md-dialog-content class="md-dialog-content">
                <h2 class="md-title">
                    Add message
                </h2>
                <p>
                    You can type yaml in the data field
                </p>
                <md-input-container class="md-block">
                    <label>Topic</label>
                    <input type="text" ng-model="message.topic" />
                </md-input-container>
                <div layout="row">
                    <md-input-container flex class="md-block md-icon-right">
                        <label>Data (yaml)</label>
                        <textarea ng-model="message.yaml"></textarea>
                        <md-icon ng-if="isJSON(message.data)">code</md-icon>
                    </md-input-container>
                    <div flex>
                        <pre>{{message.data | json}}</pre>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button ng-click="hide()">
                    Cancel
                </md-button>
                <md-button ng-click="answer(message)">
                    Ok
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </script>
    <div class="content" ng-controller="queueController">
        <md-toolbar ng-class="{offline: !connected}">
            <div class="md-toolbar-tools">
                <h2>
                    <span>ON-Q</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="reconnect" ng-if="connected">
                    <md-icon>network_wifi</md-icon>
                </md-button>
                <md-button class="md-icon-button md-warn" aria-label="reconnect" ng-if="!connected" ng-click="connect()">
                    <md-icon>perm_scan_wifi</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="settings" ng-click="editSettingsDlg()">
                    <md-icon>settings</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="(topic,messages) in $storage.topics track by $index" label="{{topic}} ({{messages.length}})">
                <md-content>
                    <md-card ng-repeat="message in messages">
                        <md-card-content>
                            <div class="md-chips">
                                <div class="md-chip" ng-repeat="(key,val) in message.data track by $index">{{key}}: {{val}}</div>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="forward(message)">Forward</md-button>
                            <md-button ng-click="decline(message)">Decline</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
            <md-tab>
        </md-tabs>
        <md-button class="md-accent md-fab md-fab-bottom-right" style="position: fixed" ng-click="addMessageDlg()">
            <md-icon>add</md-icon>
        </md-button>
    </div>
    <script src="js/main.js"></script>
</body>
</html>